:root {
    /* ejemplos background obscuros*/
    --primaryd-100: #FF6B6B;
    --primaryd-200: #dd4d51;
    --primaryd-300: #8f001a;
    --accentd-100: #00FFFF;
    --accentd-200: #00999b;
    --textd-100: #FFFFFF;
    --textd-200: #e0e0e0;
    --bgd-100: #000000;
    --bgd-200: #080f1d;
    --bgd-300: #353535;
    /* fin ejemplos */

    /* ejemplos background claros*/
    --primary-100: #EE1D52;
    --primary-200: #ff607e;
    --primary-300: #ffcddf;
    --accent-100: #FFC107;
    --accent-200: #916400;
    --text-100: #333333;
    --text-200: #5c5c5c;
    --bg-100: #F7F7F7;
    --bg-200: #ededed;
    --bg-300: #c4c4c4;
    /* fin ejemplos */

    /* temas de background-color */
    --nav: #7f2ea7;
    --prueba: #f9d700;
    --color: #000;
    --background: #fff;
    --academlo: #fd135a;
    --full-white: #ffffff;
    --tarjetas: hsl(0, 0%, 90%);
    --color-filtro: #4e5861;
    --color-fondo-producto: #c4c7c4;
    --footerback: #e6e6e6;
    /* FIN  temas background-color */
    /* fuentes */
    --titulo: 'Roboto', sans-serif;
    --subtitulo: 'Roboto', sans-serif;
    --parrafo: 'Open Sans', sans-serif;
    /*FIN fuentes */
    /* sombras */
    --shadow-nav: 0px 1px 15px rgba(0, 0, 0, 0.5);
    --shadow-btn: 0px 0px 20px rgba(0, 0, 0, 0.5);
    --shadow-tarjetas: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    --shadow-carrito: 0px 1px 15px rgba(0, 0, 0, 0.956);
    --shadow-boton: 0px 1px 15px rgb(210 2 2 / 96%);
    /* fin sombras */
    /* tamaños */
    --h-header: 50px;
    /* fin tamaños */
    /* Modals */
    --z-modalproduct: 4000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-top: 330px;
    list-style: none;

    .scroll::-webkit-scrollbar {
        width: 1.5rem;
    }


    .scroll::-webkit-scrollbar-track {
        background: var(--primary-100);
    }

    .scroll::-webkit-scrollbar-thumb {
        background-color: var(--bgd-100);
        border-radius: 1rem;

    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-100);
    color: var(--text-100);

    .bxs-moon::before {
        /* color: var(--bgd-100); */
        font-size: 1.3rem;
        cursor: pointer;
    }






    .bx-cart-alt::before {
        color: var(--bgd-100);
        font-size: 1.3rem;
        cursor: pointer;
    }

    .bx-menu::before {
        color: var(--bgd-100);
    }

    .bx-cart-add:before {
        content: "\ef30";
        font-size: 1.9rem;
        color: var(--primary-100);
    }

    transition: background-color 0.8s,
    color 0.8s;
}

body.darkmode {
    background-color: var(--bgd-100);
    color: var(--textd-100);

    .muestraropa {
        background-color: var(--accentd-100);
    }

    .btn__filtros {
        background-color: var(--bgd-100);
        color: var(--bg-100);
    }

    .img__prod {
        background-color: var(--bgd-200);
    }

    .precioprod {
        background-color: var(--textd-100);
    }

    .precio {
        background-color: var(--primary-100);
    }

    .footer__ul__social {
        background-color: var(--text-200);
    }

    .parrafo__a {
        color: var(--bgd-100);
    }

    .navbar__section {
        background-color: var(--bgd-100);
    }
    .hidden {
        position: fixed;
        top: 0;
        width: 100%;
        height: 60px;
        transition: background-color 1s;
    }
    
.hidden.transparent {
    background-color: transparent;
}

.navbar.scrolled {
    background-color: var(--bg-100);
}
.cart__products{
    background-color: var(--bgd-100);
}
.cart__total {
    background-color: var(--bg-100);
    color: var(--bgd-100);
}
.menu__show{
    background-color: var(--academlo);    
}
.menu__show > li .inicio{
    color: var(--bg-100);
}
.bx-menu::before{
    color: var(--bg-100);
}
.show__more{
    border-color: var(--prueba);
    border-style: solid;
    box-shadow: var(--shadow-boton);
}

}
/* fin darkmode */

.fa,
.fas {
    font-weight: 900;
    cursor: pointer;
}

.fa-shopping-cart {
    /* background-color: #00FFFF; */
    font-size: 1.3rem;
}

.fa-shopping-cart span {
    display: inline-block;
    background-color: rgba(248, 0, 0, 0.88);
    color: var(--textd-100);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 1rem;
    display: grid;
    place-items: center;
    position: absolute;
    top: 1.7rem;
}

.cart {
    background-color: #000;
    position: fixed;
    top: var(--h-header);
    right: 0;
    max-width: 50.5%;
    height: calc(100% - var(--h-header));
    padding: .1rem;
    transform: translateX(0%);
    transition: 0.5s;
    box-shadow: var(--shadow-carrito);
}

.cart__show {
    transform: translateX(100%);
}

.cart__products {
    height: 80%;
    background-color: var(--bg-200);
    overflow-y: scroll;
    color: var(--full-white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.cart__product {
    padding: .5rem;
    font-size: .7rem;
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 2fr;
    background-color: var(--primary-100);
    border-color: rgba(0, 0, 0, 0.8);
    border-radius: 1.5rem;
}

.cart__product__body {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.cart__product__opt {
    display: flex;
    gap: .3rem;
    background-color: var(--text-200);
    width: auto;
    color: var(--bg-100);
    border-radius: 1rem;
}

.cart__product__opt i {
    cursor: pointer;
    margin: 0 auto;
}

.cart__product__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__cart {
    max-width: 80px;
}

.cart__total {
    height: 20%;
    background-color: var(--primary-100);
    border-radius: 2.3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.btnbuy {
    width: 100px;
    height: 40px;
    border-radius: 2rem;
    box-shadow: var(--shadow-btn);
    border-style: none;
    color: var(--bgd-100);
    font-family: var(--subtitulo);
    font-weight: bold;
    cursor: pointer;
}

.cart__total__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

/* .header__Section {
    position: sticky; 

} */

.navbar__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    background-color: var(--bg-100);
    height: calc(var(--h-header) - 50px);
}

/* navbar */
.hidden {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;    
    transition: background-color 1s;
}

.hidden.transparent {
    background-color: transparent;
}

.navbar.scrolled {
    background-color: var(--bg-100);
}

/* fin navbar */
.container {
    display: flex;
    height: 315px;
}

.menubar {
    height: 310px;
    width: 50%;
}

.menu_des {
    display: flex;
    gap: 0.5rem;
}

/* .menu__show {
    font-size: 2rem;
    cursor: pointer;
    display: none;
} */
.bx-menu:before {
    font-size: 1.3rem;
    cursor: pointer;
}

.primeraMitad {
    width: 100%;
    height: 100%;
    padding: .8rem;
    display: flex;
    justify-content: flex-start;
    /* background-color: transparent; */
}

.svg__mostrar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--primary-100);
    margin: auto .5%;
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-100);
}

.segundaMitad {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: transparent; */
    padding: 1.5rem;
}

.iconos__nav {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.muestraropa {
    display: flex;
    background-color: var(--primary-100);
    height: 310px;
    width: 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrar__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: var(--titulo);
    text-transform: capitalize;
    font-size: 25px;
    line-height: 30px;
    margin-top: 3%;
    padding-left: 2rem;
}

.subtitulo {
    font-family: var(--subtitulo);
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 3%;
    padding-left: 2rem;
    font-weight: bold;
}

.parrafo {
    font-family: var(--parrafo);
    font-weight: bold;
    color: var(--parrafo);
    opacity: .5s;
    margin-top: 3%;
    margin-top: 3%;
    padding: 0 2rem;
}

.price {
    font-weight: bold;
    font-size: 25px;
    margin-top: 3%;
    margin-top: 3%;
    padding-left: 2rem;
    color: var(--primary-100);
}

.div__sold {
    background-color: var(--bgd-100);
    padding: .5rem;
    margin: 1% 5%;
    border-radius: 2rem;
}

.sold__out {
    font-size: 15px;
    text-align: center;
    color: var(--primary-100);
}


.btnShow {
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-start;
}

.show__more {
    height: 50px;
    width: 145px;
    font-weight: bold;
    color: var(--textd-100);
    background-color: var(--bgd-100);
    border: none;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;    
    border-style: .5px solid;
    box-shadow: var(--shadow-carrito);
}

.btn__products {
    display: grid;
    place-items: center;
    grid-template-areas: "item1  item2"
        "item3  item4";
    gap: 1rem;
    padding: 3rem 1rem;
    margin-top: 75px;
}

.btn__filtros {
    width: 150px;
    min-height: 50px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-100);
}

.parrafo__filtro {
    font-family: var(--parrafo);
    font-weight: bold;
    color: var(--text-200);
}

.product__principal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    height: auto;
    padding: .5rem 0;
    margin: 5% 1.5%;
}

.img__prod {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-300);
    width: 80%;
    height: 400px;
    padding: 2rem;
    margin: auto;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    box-shadow: var(--shadow-nav);
}

.img__prod img {
    display: block;
    transition: transform 0.5s;
}

.img__prod:hover img {    
    transform: rotateY(360deg);
}

.precio {
    font-family: var(--subtitulo);
    font-weight: bold;
    font-size: 1.5rem;
    width: 80%;
    height: 150px;
    /* padding: 0rem 0.1rem; */
    margin: auto;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    color: var(--color);
    background-color: var(--bg-100);
    margin-bottom: 15%;
    box-shadow: var(--shadow-nav);
    border-style: none;
}

.precioprod {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--primary-100);
    /* padding: 0.1rem; */
    /* font-size: 15px; */
    /* line-height: 112%;    
    padding-left: 1rem;
    margin-right: .5rem; */
}

.category {
    text-align: center;
    font-family: var(--titulo);
}

.noresaltar {
    font-size: 12px;
    color: var(--color-filtro);
}

.reseña {
    font-size: 1rem;
    height: auto;
    padding: 0.7rem;
    cursor: pointer;
    text-align: center;
}

.section__container {
    padding: 1.5rem;
}

/* diseño del modal */
.inicio__modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
}

.inicio__modal__show {
    opacity: 1;
    visibility: visible;
}

.content__modal {
    background-color: var(--bg-100);
    padding: 1rem;
    border-radius: 2rem;
    position: relative;
    opacity: 0;
    visibility: hidden;
}

.bx-comment-x {
    font-weight: bold;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;

}

/* fin diseño modal */







.bx-comment-x {
    color: var(--text-200);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.footer__div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 5%;
}

.footer__div__social ul {
    display: flex;
    gap: .7rem;
}

.footer__div ul li {
    list-style: none;
}

.footer__div__social {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 5%;
}

.footer__ul__social {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 1rem;
    background-color: var(--primary-300);
    border-radius: 2rem;
}

.footer__a {
    text-decoration: none;
    color: var(--primary-100);
    font-family: var(--subtitulo);
    font-weight: 900;
    line-height: 19px;
}

.footer__parrafo {
    background-color: var(--primary-100);
    padding: 1rem;
    font-family: var(--subtitulo);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}


.parrafo__a {
    text-decoration: none;
    padding: .5rem;
    color: var(--textd-100);
}

.content__loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s, visibility 0.5s;
}

.content__loader__hidden {
    opacity: 0;
    visibility: hidden;
}

.loader {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid var(--primary-100);
    border-top: none;
    border-left: none;
    animation: animation__loader 1s infinite;
}

@keyframes animation__loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 700px) {
    .bx-menu {
        display: block;
    }

    .menu_des {
        background-color: var(--bg-300);
        position: fixed;
        top: 60px;
        left: -100%;
        min-height: calc(100vh - var(--h-header));
        width: 50vw;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        transition: left 0.5s;
    }

    .menu__show {
        left: 0;
    }
}

/* INICIA RESPONSIVE 700px */
@media(min-width:700px) {
    .menu_des {
        display: block;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bx-menu {
        visibility: hidden;
    }

    .container {
        display: flex;
        min-height: 70px;
        height: 70px;
    }

    .menubar {
        min-height: 300px;
        width: 70%;
    }

    .cart {
        width: 42.5%;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 58.2%;
        height: 830px;
        padding: 1rem;
    }

    .sudadera {
        width: 250px;
    }

    .titulo {
        font-family: var(--titulo);
        text-transform: capitalize;
        font-size: 47px;
        font-weight: bold;
        line-height: 30px;
        margin: 5% 6%;
        padding: 0;
    }

    .subtitulo {
        font-family: var(--titulo);
        text-transform: uppercase;
        font-size: 50px;
        margin-bottom: 5%;
        line-height: 60px;
        padding-left: 1.5rem;
        font-weight: bold;
    }

    .parrafo {
        width: auto;
        font-size: 1rem;
        font-family: var(--parrafo);
        font-weight: bold;
        color: var(--bgd-100);
        opacity: .5s;
        margin-top: 5%;
        padding: 0 2rem;
    }

    .price {
        font-weight: bold;
        font-size: 30px;
        margin-top: 5%;
        padding-left: 2rem;
        color: var(--primary-100);
    }

    .show__more {
        width: 170px;
        height: 55px;
        font-size: 20px;
    }

    /* .header__Section {
        position: sticky;
        top: 0;
        box-shadow: var(--shadow-nav);
        background-color: transparent;
    }

    #navbar.scrolled {
        height: calc(var(--h-header) - 50px);
        box-shadow: var(--shadow-general);
        background-color: transparent;
    } */

    .primeraMitad {
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        display: flex;
        justify-content: flex-start;
        /* background-color: transparent; */
    }

    .segundaMitad {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 70px;
        /* background-color: transparent; */
        padding: 0.5rem;
    }

    .muestraropa {
        height: 900px;
        padding: 0.5rem;
    }

    .btn__products {
        display: grid;
        place-items: center;
        grid-template-areas:
            "item1 item2 item3 item4";
        padding: 1rem 7rem;
        margin: 10% 10%;
        gap: 0px;
    }

    .btn__filtros {
        width: 112px;
        min-height: 50px;
        font-weight: bold;
        font-size: 14px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1px;
        cursor: pointer;
    }

    .section__container {
        background-color: var(--bg-300);
        padding: 3rem;
        display: grid;
        align-items: flex-start;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 4rem;
        font-size: 15px;
        font-family: 'Roboto';
        width: 100%;
        line-height: 1.7rem;
    }

    .footer__div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 5%;
    }

    .footer__ul__social {
        list-style: none;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-radius: 2rem;
        background-color: var(--textd-100);
    }

    .footer__parrafo {
        background-color: var(--primary-100);
        padding: 0 1rem;
        font-family: var(--subtitulo);
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__title {
        color: var(--bgd-100);
    }

    .footer__a {
        text-decoration: none;
        color: var(--primaryd-300);
        font-family: var(--subtitulo);
        font-weight: 900;
        line-height: 1.8rem;
        display: flex;
        align-items: baseline;
    }

    .bxl-facebook-circle,
    .bxl-instagram-alt,
    .bxs-briefcase {
        color: var(--bgd-100);
        font-size: 1.7rem;
    }
}

/* INICIA RESPONSIVE DE 1000 */
@media (min-width:1000px) {
    .cart {
        max-width: 20%;
    }

    .primeraMitad {
        justify-content: center;
        align-items: center;
        margin: 0 10%;
    }

    .segundaMitad {
        justify-content: center;
        align-items: center;
    }

    .content {
        justify-content: flex-start;
        width: 44%;
        margin: 0px 18.7%;
        max-width: 1024px;
    }

    .titulo {
        font-family: var(--titulo);
        text-transform: capitalize;
        font-size: 60px;
        font-weight: bold;
        line-height: 60px;
        margin: 5% 4%;
        padding: 0;
    }

    .parrafo {
        width: auto;
        font-size: 1rem;
        font-family: var(--parrafo);
        font-weight: bold;
        color: var(--bgd-300);
        opacity: .5s;
        margin-top: 5%;
        padding-left: 1.2rem;
        padding-right: 5rem;
    }

    .price {
        padding-left: 1.2rem;
    }

    .btnShow {
        padding: 1rem 1.1rem;
    }

    .muestraropa {
        margin: 0px 20%;
        width: 24%;
    }

    .btn__products {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
        padding: 1rem 3rem;
    }

    .btn__filtros {

        width: 160px;
        font-size: 20px;
        gap: .5rem;
        background-color: var(--bg-100);
    }

    .parrafo__filtro {
        font-family: var(--subtitulo);
        font-size: 15px;
        font-weight: bold;
        color: var(--bgd-100);
    }

    .product__principal {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        max-width: 1024px;
        margin: auto;
    }

}